apiVersion: v1
kind: PersistentVolumeClaim
metadata:
    name: metube
    namespace: media
    labels:
      app: metube
spec:
    accessModes:
        - ReadWriteOnce
    storageClassName: longhorn
    resources:
        requests:
            storage: 1Gi
