---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app tdarr
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  values:
    controllers:
      *app :
        containers:
          app:
            image:
              repository: ghcr.io/haveagitgat/tdarr
              tag: 2.58.02@sha256:20a5656c4af4854e1877046294f77113f949d27e35940a9a65f231423d063207

            env:
              TZ: ${TIMEZONE}
              serverPort: &serverPort 8266
              webUIPort: &port 8265

            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /api/v2/status
                    port: *port
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes

            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: false
              #capabilities: {drop: ["ALL"]}

            resources:
              requests:
                cpu: 50m
                memory: 256Mi
              limits:
                memory: 1Gi

    defaultPodOptions:
      nodeSelector:
        intel.feature.node.kubernetes.io/gpu: "true"
      securityContext:
        runAsNonRoot: true
        runAsUser: 0
        runAsGroup: 0
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
        # 44 = video, 105 = kvm, 109 = render (for GPU access), 10000 = media
        supplementalGroups: [44, 105, 109, 10000]
        seccompProfile: { type: RuntimeDefault }

    service:
      app:
        controller: *app
        ports:
          http:
            port: *port
          server:
            port: *serverPort

    route:
      app:
        parentRefs:
          - name: internal
            namespace: kube-system
            sectionName: https
        hostnames: ["{{ .Release.Name }}.${DOMAIN}"]
        rules:
          - backendRefs:
              - name: *app
                port: *port

    persistence:
      config:
        existingClaim: "{{ .Release.Name }}"
        advancedMounts:
          tdarr:
            app:
              - path: /app/configs
                subPath: config
              - path: /app/server
                subPath: server

      tmpfs:
        type: emptyDir
        advancedMounts:
          *app :
            app:
              - path: /temp
                subPath: temp

      movies:
        type: nfs
        server: ${FS1_IP}
        path: ${MOVIES_PATH}
        globalMounts:
          - path: /movies

      tv-shows:
        type: nfs
        server: ${FS1_IP}
        path: ${TVSHOWS_PATH}
        globalMounts:
          - path: /tv-shows
