# Trash
.DS_Store
Thumbs.db

# Kubernetes/Talos configs
**/kubeconfig*
**/talosconfig*
*.kubeconfig
.config.env
*.pub

# Terraform
**.tfstate
**.tfstate.*
*.tfvars
.terraform.tfstate.lock*
.terraform.lock.hcl
.terraform/
authorized_keys
*.tfplan

# SOPS
.env
.decrypted~*.yaml
*.agekey

# Certificates
*.crt
*.cer
*.key
*.p12
*.pfx

# Backup files
*.backup
*.old
*.bak
*~

# Logs
*.log
