# Trash
.DS_Store
Thumbs.db
# k8s
kubeconfig
.config.env
*.pub
# Terraform
*.tfvars
.terraform.tfstate.lock*
.terraform/
authorized_keys
terraform.tfstate*
# SOPS
.env
.decrypted~*.yaml
*.agekey
*.key
