---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app jellyfin
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 4.6.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  values:
    controllers:
      jellyfin:
        pod:
          securityContext:
            runAsNonRoot: true
            runAsUser: 568
            runAsGroup: 568
            fsGroup: 568
            fsGroupChangePolicy: OnRootMismatch
            seccompProfile: { type: RuntimeDefault }
            supplementalGroups: [44, 109, 992, 10000]
          nodeSelector:
            intel.feature.node.kubernetes.io/gpu: "true"
        containers:
          app:
            image:
              repository: ghcr.io/jellyfin/jellyfin
              tag: 10.11.5@sha256:cd7e4cb71812dd76988a725da615e37c6d0d24c200be904ad5d183e51f1dc6ed
            env:
              TZ: ${TIMEZONE}
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }
            probes:
              liveness: &probes
                enabled: false
                custom: true
                spec:
                  httpGet:
                    path: /health
                    port: &port 8096
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
            resources:
              requests:
                gpu.intel.com/i915: 1
                cpu: 200m
                memory: 1Gi
              limits:
                gpu.intel.com/i915: 1
                memory: 8Gi
    service:
      app:
        controller: *app
        ports:
          http:
            port: *port
        type: ClusterIP
    route:
      app:
        hostnames:
          - "jellyfin.dev.${DOMAIN}"
        parentRefs:
          - name: internal
            namespace: kube-system
            sectionName: http
        rules:
          - backendRefs:
              - identifier: app
                port: 80
    persistence:
      config:
        enabled: true
        type: emptyDir
      tmpfs:
        enabled: true
        type: emptyDir
        globalMounts:
          - path: /tmp
      transcode:
        enabled: true
        type: emptyDir
        globalMounts:
          - path: /transcode
      cache:
        enabled: true
        type: emptyDir
        globalMounts:
          - path: /cache
      movies:
        type: nfs
        server: ${FS1_IP}
        path: ${MOVIES_PATH}
        globalMounts:
          - path: /movies
      tv-shows:
        type: nfs
        server: ${FS1_IP}
        path: ${TVSHOWS_PATH}
        globalMounts:
          - path: /tv-shows
