---
cgroup:
  automount:
    enabled: false
  hostRoot: /sys/fs/cgroup
hubble:
  enabled: false
routingMode: "native"
ipv4NativeRoutingCIDR: 10.244.0.0/16
ipam:
  mode: kubernetes
devices: eth+,en+
autoDirectNodeRoutes: true
endpointRoutes:
  enabled: true
k8sServiceHost: 127.0.0.1
k8sServicePort: 7445
kubeProxyReplacement: true
l2announcements:
  enabled: true
externalIPs:
  enabled: true
securityContext:
  capabilities:
    ciliumAgent:
      - CHOWN
      - KILL
      - NET_ADMIN
      - NET_RAW
      - IPC_LOCK
      - SYS_ADMIN
      - SYS_RESOURCE
      - DAC_OVERRIDE
      - FOWNER
      - SETGID
      - SETUID
    cleanCiliumState:
      - NET_ADMIN
      - SYS_ADMIN
      - SYS_RESOURCE
