---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app shelfmark
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  values:
    controllers:
      *app :
        containers:
          app:
            image:
              repository: ghcr.io/calibrain/shelfmark
              tag: v1.0.1@sha256:1efbbd45ea434cb4f5abde217e19c35280ea1de9eb2c0baa37e6b8cddac32fae

            command:
              - gunicorn
            args:
              # - --log-level=debug
              - --access-logfile=-
              - --error-logfile=-
              - --worker-class=geventwebsocket.gunicorn.workers.GeventWebSocketWorker
              - --workers=1
              - -t
              - "300"
              - -b
              - 0.0.0.0:8084
              - shelfmark.main:app

            env:
              TZ: ${TIMEZONE}
              PORT: &port 8084
              INGEST_DIR: /cwa-book-ingest
              CALIBRE_WEB_URL: https://calibre-web-automated.${DOMAIN}

            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /api/health
                    port: *port
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes

            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: {drop: ["ALL"]}

            resources:
              requests:
                cpu: 50m
                memory: 256Mi
              limits:
                memory: 1Gi

    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
        seccompProfile: { type: RuntimeDefault }

    service:
      app:
        controller: *app
        ports:
          http:
            port: *port

    route:
      app:
        parentRefs:
          - name: internal
            namespace: kube-system
            sectionName: https
        hostnames: ["{{ .Release.Name }}.${DOMAIN}"]
        rules:
          - backendRefs:
              - name: *app
                port: *port

    persistence:
      config:
        existingClaim: "{{ .Release.Name }}"

      tmpfs:
        type: emptyDir
        advancedMounts:
          *app :
            app:
              - path: /var/log
                subPath: var-log
              - path: /tmp
                subPath: tmp

      media:
        type: nfs
        server: ${FS1_IP}
        path: ${BOOKS_PATH}
        globalMounts:
          - path: /cwa-book-ingest
            subPath: Downloads/Books
