---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ./frigate/ks.yaml
  - ./home-assistant/ks.yaml
  - ./mealie/ks.yaml
  - ./node-red/ks.yaml
  - ./zwave-js-ui/ks.yaml
