---
apiVersion: "gateway.networking.k8s.io/v1"
kind: Gateway
metadata:
  name: internal
spec:
  gatewayClassName: cilium
  addresses:
    - type: IPAddress
      value: "10.0.0.200"
  listeners:
    - name: http
      protocol: HTTP
      port: 80
      allowedRoutes:
        namespaces:
          from: All
    - name: https
      protocol: HTTPS
      port: 443
      allowedRoutes:
        namespaces:
          from: All
