apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: traefik
spec:
  interval: 5m
  chart:
    spec:
      chart: traefik
      version: 38.0.1
      sourceRef:
        kind: HelmRepository
        name: traefik
        namespace: flux-system
      interval: 6h
  values:
    ports:
      web:
        redirections:
          entryPoint:
            to: websecure
            scheme: https
