---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: longhorn
spec:
  interval: 1h
  chart:
    spec:
      chart: longhorn
      version: 1.10.1
      sourceRef:
        kind: HelmRepository
        name: longhorn
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    persistence:
      defaultClass: true
      defaultFsType: ext4
      defaultClassReplicaCount: 2
      defaultDataLocality: best-effort
      reclaimPolicy: Delete
    defaultSettings:
      defaultDataLocality: best-effort
      defaultReplicaCount: 2
      orphanAutoDeletion: true
      replicaAutoBalance: best-effort
      defaultLonghornStaticStorageClass: longhorn
      createDefaultDiskLabeledNodes: true
      nodeDownPodDeletionPolicy: delete-both-statefulset-and-deployment-pod
    longhornUI:
      replicas: 1
    ingress:
      enabled: false
