---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: calibre-web-automated
spec:
  storageClassName: longhorn
  accessModes: ["ReadWriteOnce"]
  resources:
    requests:
      storage: 1Gi
