---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app radarr
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  values:
    controllers:
      *app :
        containers:
          app:
            image:
              repository: ghcr.io/home-operations/radarr
              tag: 6.1.1.10317@sha256:5e08c0eefd2770d1d29395c4f84fe5bf7dfc3a986598021306a5d8ac017a3989

            env:
              TZ: ${TIMEZONE}
              RADARR__APP__INSTANCENAME: radarr
              RADARR__APP__THEME: dark
              RADARR__AUTH__METHOD: Forms
              RADARR__AUTH__REQUIRED: DisabledForLocalAddresses
              RADARR__UPDATE__BRANCH: develop
              RADARR__SERVER__PORT: &port 7878
              RADARR__LOG__LEVEL: info

            envFrom:
              - secretRef:
                  name: radarr-secrets

            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /ping
                    port: *port
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes

            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: {drop: ["ALL"]}

            resources:
              requests:
                cpu: 50m
                memory: 256Mi
              limits:
                memory: 1Gi

    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch

    service:
      app:
        controller: *app
        ports:
          http:
            port: *port

    route:
      app:
        parentRefs:
          - name: internal
            namespace: kube-system
            sectionName: http
        hostnames: ["{{ .Release.Name }}.dev.${DOMAIN}"]
        rules:
          - backendRefs:
              - name: *app
                port: *port

    persistence:
      config:
        existingClaim: "{{ .Release.Name }}"

      tmpfs:
        type: emptyDir
        advancedMounts:
          *app :
            app:
              - path: /config/logs
                subPath: logs
              - path: /tmp
                subPath: tmp

      movies:
        type: nfs
        server: ${FS1_IP}
        path: ${MOVIES_PATH}
        globalMounts:
          - path: /movies

      downloads:
        type: nfs
        server: ${FS1_IP}
        path: ${DOWNLOADS_PATH}
        globalMounts:
          - path: /downloads
