apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: core
  namespace: flux-system
spec:
  interval: 10m0s
  sourceRef:
    kind: GitRepository
    name: flux-system
  path: ./kubernetes/core
  prune: true
  wait: true
  # decryption:
  #   provider: sops
  #   secretRef:
  #     name: sops-age
  # postBuild:
  #   substitute: {}
  #   substituteFrom:
  #     - kind: ConfigMap
  #       name: cluster-settings
  #       optional: true
  #     - kind: Secret
  #       name: cluster-secrets
  #       optional: true
  # patches:
  #   - patch: |-
  #       apiVersion: kustomize.toolkit.fluxcd.io/v1
  #       kind: Kustomization
  #       metadata:
  #         name: not-used
  #       spec:
  #         decryption:
  #           provider: sops
  #           secretRef:
  #             name: sops-age
  #         postBuild:
  #           substituteFrom:
  #             - kind: Secret
  #               name: cluster-secrets
  #               optional: true
  #             - kind: ConfigMap
  #               name: cluster-settings
  #               optional: true
  #     target:
  #       group: kustomize.toolkit.fluxcd.io
  #       kind: Kustomization
