---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app homepage
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  values:
    defaultPodOptions:
      securityContext:
        runAsUser: 1000
        runAsGroup: 100
        fsGroup: 100
        fsGroupChangePolicy: OnRootMismatch
        seccompProfile: { type: RuntimeDefault }
    controllers:
      homepage:
        containers:
          app:
            image:
              repository: ghcr.io/gethomepage/homepage
              tag: v1.8.0@sha256:7dc099d5c6ec7fc945d858218565925b01ff8a60bcbfda990fc680a8b5cd0b6e
            env:
              TZ: ${TIMEZONE}
              HOMEPAGE_ALLOWED_HOSTS: "*"
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: false
              capabilities: { drop: ["ALL"] }
    service:
      app:
        controller: *app
        type: ClusterIP
        ports:
          http:
            port: 3000
    route:
      app:
        hostnames: ["homepage.${DOMAIN}"]
        parentRefs:
          - name: internal
            namespace: kube-system
            sectionName: https
    persistence:
      homepage-config:
        type: configMap
        name: homepage-config
        globalMounts:
          - path: /app/config
      tmpfs:
        type: emptyDir
        globalMounts:
          - path: /app/config/logs
            subPath: logs
