---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app navidrome
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  values:
    controllers:
      *app :
        containers:
          app:
            image:
              repository: ghcr.io/home-operations/navidrome
              tag: 0.59.0

            env:
              TZ: ${TIMEZONE}
              ND_DATAFOLDER: /config
              ND_MUSICFOLDER: /music
              ND_CACHEFOLDER: /config/cache
              ND_LOGLEVEL: info
              ND_PORT: &port 8080
              ND_SCANNER_SCHEDULE: "@every 1h"
              ND_SCANNER_PURGEMISSING: always
              ND_ENABLEDOWNLOADS: true
              ND_TRANSCODINGCACHESIZE: 1GB

            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /ping
                    port: *port
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes

            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: {drop: ["ALL"]}

            resources:
              requests:
                cpu: 50m
                memory: 256Mi
              limits:
                memory: 1Gi

    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch

    service:
      app:
        controller: *app
        ports:
          http:
            port: *port

    route:
      app:
        parentRefs:
          - name: internal
            namespace: kube-system
            sectionName: http
        hostnames: ["{{ .Release.Name }}.dev.${DOMAIN}"]
        rules:
          - backendRefs:
              - name: *app
                port: *port

    persistence:
      config:
        existingClaim: "{{ .Release.Name }}"

      music:
        type: nfs
        server: ${FS1_IP}
        path: ${AUDIO_PATH}
        globalMounts:
          - path: /music
